a {
  color: #222222;
}

a:hover {
  color: #333131;
}

.product {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.go-back {
  align-self: flex-end;
}
  
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
}

.qty-price {
  display: flex;
  flex-direction: column;
}

.qty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  .product {
    border-color: #222;
  }

  .img {
    filter: invert(1);
  }
}

